*{
    margin:0px;
    padding:0px;
}

body{
    text-align: center;
    background:radial-gradient(circle, #557c93,#08203e);;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26.25rem;
}

.game{
    display: flex;
    flex-wrap: wrap;
    height:100%;
    width:26.25rem;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.box{
    height:130px;
    width:130px;
    border: none;
    border-radius:0.4rem;
    box-shadow: 0 0 0.2rem #f2f2f2e5;
    background-color: #f2f2f2e5;
    color: #123560f4;
    font-size: 3.2rem;
}

.heading{
    color: #f2f2f2e5;
    text-align: center;
    margin-top: 30px;
}

.reset{
    padding: 20px;
    border:none;
    border-radius: 0.4rem;
    font-weight: 500;
    box-shadow: 0 0 0.2rem #f2f2f2e5;
    font-size: 1.2rem;
    margin:20px;
}
.new{
    padding: 20px;
    border:none;
    border-radius: 0.4rem;
    font-weight: 500;
    box-shadow: 0 0 0.2rem #f2f2f2e5;
    font-size: 1.2rem;
    margin:20px;
    visibility: hidden;
}

.msg{
    color: #f2f2f2e5;
    text-align: center;
    margin-top: 30px;
    font-size: 2.2rem;
}